.jumbotron{
	background-color: #A4F0FF;
	color: black;
}


footer{
	padding: 10px 10px 0 10px;
	background-color: #A4F0FF;
	margin-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-user{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}

.btn-check{
	width: 100%;
}


