.jumbotron{
	background-color: lightgrey;
	color: black;
	margin-top: 50px;
}


footer{
	padding: 10px 10px 0 10px;
	background-color: lightgrey;
	margin-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 10px;
}
/* PADDING: Top-right-bot-left */
.card-user{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-check{
	width: 100%;
	border-radius: 0px;
}

.footer-adress-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}


/* Browser doesn't detect .SCSS files. We need to 'npm run scss' to generate the css. 
	SASS helps us to create variables, so we can change the hexcode in the variable
	and it automatically changes everywhere. */
