$oceanblue: #41d1d9;

@mixin margins($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color: $oceanblue;
	color: black;
	@include margins(50px, 10px);
}

footer{
	padding: 10px 10px 0 10px;
	background-color: $oceanblue;
	@include margins(10px, 0px);

}

/* PADDING: Top-right-bot-left */
.card-user{
	flex: 1 200px;
	@include margins(10px, 0px);
}

.btn-check{
	width: 100%;
	border-radius: 0px;
}

.footer-adress-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}


/*  [npm run scss] to compile SCSS files\

	npm install --save-dev onchange rimraf
	[npm run watch:scss] command configurated on the pckge.json, compiles *.scss files on real time when saved

	npm install --save concurrently
	[npm run start]
	
	npm install -g imagemin-cli --unsafe-perm-true --allow-root
	[npm run imagemin] to compress pictures

	npm install --save-dev usemin-cli cssmin uglifyjs htmlmin
	Uglifys reduces space, dificults lecture but prevents attackers, versions files
	*/
